*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.App{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 2px solid black;
    min-height: 100vh;
}
.search-container{
    margin: 2rem 0rem;
    width: 18rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.search-container input{
    height: 2.5rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
}
.search-container button{
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
.imagebox{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
}