*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.App{
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;
}
.search-container{
    margin: 1.5rem 0rem;
    width: 18rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.search-container input{
    height: 2.5rem;
    width: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
}
.search-container button{
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: aquamarine;
}
.search-container button:hover{
    box-shadow: 0 0 5px 3px rgba(200, 197, 197, 0.666);
}
.search-container button:active{
    transform: scale(0.97);
}
.imagebox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 3rem;
}